<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Four
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <p>Nulla fugiat enim ad deserunt nostrud labore labore eu do aliqua. Esse nostrud ipsum ex nostrud reprehenderit do commodo id nulla ipsum dolore ipsum enim. Ipsum laborum sunt nulla sit ad.</p>
  <p>Nulla fugiat enim ad deserunt nostrud labore labore eu do aliqua. Esse nostrud ipsum ex nostrud reprehenderit do commodo id nulla ipsum dolore ipsum enim. Ipsum laborum sunt nulla sit ad.</p>
  <p>Nulla fugiat enim ad deserunt nostrud labore labore eu do aliqua. Esse nostrud ipsum ex nostrud reprehenderit do commodo id nulla ipsum dolore ipsum enim. Ipsum laborum sunt nulla sit ad.</p>
</ion-content>
